* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  background-color: #DDC9BC;
  background-image: url("cat.png");
  background-size: 20%;
}

.hide {
  display: none;
}

.wrapper {
  background-color: #ffffff;
  border-radius: 0.5em;
  border-color: #ED7458;
  border-width: 0.6em;
  border-style: solid;
}